.grid-container {
    display: grid;
    grid-template-columns: 15vw 70vw 15vw;
  }

div {
    border: solid 1px silver;
    height: 15vh;
}

.main-row {
    height: 70vh;
}

p, h2, h3, li {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}



