body {
  margin: 0;
  padding: 0;
  background: url("../images/backgroundimg.jpg") no-repeat rgb(3, 3, 15);
  font-family: 'Caudex', serif;
  color: silver;
  background-size: cover;
  overflow: hidden;
  text-shadow: 2px 2px #121213;
}

.grid-container {
    display: grid;
    grid-template-columns: 15vw 70vw 15vw;
  }

div {
    /* border: solid 1px silver; */
    height: 15vh;
}

.main-row {
    height: 70vh;
}

p, h2, h3, li {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

p {
  font-size: 25px;
}

li {
  font-size: 25px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 35px;
}

button {
  position: fixed;
  top: 35%;
  left: 42.5%;
  width: 15%;
  background-color: transparent;
  text-decoration: none;
  border: 1px solid silver;
  font-family: 'Caudex', serif;
  font-size: 25px;
  color: silver;
  padding-bottom: 2.5px;
}



